body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

.columns-container,
.accordion {
    display: flex;
    width: 100%;
}

.column,
#collapsedColumn1,
#collapsedColumn2 {
    flex: 1;
    width: 50%;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
    height: 100vh;
}

#column1 {
    color: red;
}

#column2 {
    color: green;
}

/* Styles for accordions */
.accordion {
    display: none;
    flex-direction: column;
}

.accordion-btn {
    background-color: #f1f1f1;
    color: black;
    cursor: pointer;
    padding: 18px;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.accordion-btn:hover {
    background-color: #ddd;
}

.accordion-content {
    display: none;
}

/* Display accordions in a column on small screens */
@media screen and (max-width: 600px) {
    .columns-container {
        display: none;
    }

    .accordion {
        display: flex;
    }

    .column,
    #collapsedColumn1,
    #collapsedColumn2 {
        width: 100%;
    }
}
